// src/sass/variables.scss

// Globals
$body-font-family: 'Inter', serif;
$border-radius-root: 6px;
$font-size-root: 17px;

// Variables must come before the import
$btn-letter-spacing: 0;
$btn-font-weight: 400;
$list-item-title-font-size: 0.929rem;
$list-item-dense-title-font-size: 0.929rem;
$list-item-dense-title-font-weight: initial;
$fab-icon-sizes: (
  'small': 20
);
$btn-sizes: (
  'default': 41,
  'large': 54
);

$headings: (
  'h1': (
    'size': 3.3125rem,
    'line-height': 1.15em
  ),
  'h2': (
    'size': 2.25rem,
    'line-height': 1.5em
  )
);

.v-text-field input {
  width: 90px;
}
.v-select.v-text-field input {
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  margin-top: 20px;
  min-width: 0;
  pointer-events: none;
  position: relative;
}

.v-application--is-ltr .v-text-field .v-input__append-inner {
  margin-left: auto;
  padding-left: 4px;
  margin-top: 20px;
}

.v-footer{
  font-size: 14px;
}